In [2]:
import xml.etree.ElementTree as ET
from tqdm import tqdm 
import pandas as pd

SMS_DATA = 'data/sms_conversation.xml'
CALL_DATA = 'data/nathans_calls.xml'

/var/folders/8k/cwqdxf015ds_r60lk_3g6vv40000gn/T/ipykernel_30592/2044392196.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [33]:
# get sms messages from xml
tree = ET.parse(SMS_DATA)
root = tree.getroot()

df = pd.DataFrame(columns=['protocol', 'address', 'date', 'type', 'subject', 'body', 'toa', 'sc_toa', 'service_center', 'read', 'status', 'locked', 'date_sent', 'sub_id', 'readable_date', 'contact_name'])
for child in tqdm(root):
    if child.tag == 'sms':
        df = pd.concat([df, pd.DataFrame([child.attrib])], ignore_index=True)

df['author'] = df['type'].apply(lambda x: 'Nathan' if x == '2' else 'Bernice')
df[['date', 'author', 'body', 'readable_date']].head(30)

df[['date', 'author', 'body', 'readable_date']].to_csv('parsed_data/sms_conversation.csv', index=False)

100%|██████████| 21819/21819 [00:23<00:00, 935.23it/s]

In [59]:
# get mms messages from xml
tree = ET.parse(SMS_DATA)
root = tree.getroot()

df = pd.DataFrame(columns=['date', 'spam_report', 'ct_t', 'msg_box', 'address', 'sub_cs', 're_type', 'retr_st', 're_original_body', 'd_tm', 'exp', 'locked', 'msg_id', 'app_id', 'from_address', 'm_id', 'retr_txt', 'date_sent', 'read', 'rpt_a', 'ct_cls', 'bin_info', 'pri', 'sub_id', 're_content_type', 'object_id', 'resp_txt', 're_content_uri', 'ct_l', 're_original_key', 'd_rpt', 'reserved', 'using_mode', '_id', 'rr_st', 'm_type', 'favorite', 'rr', 'sub', 'hidden', 'deletable', 'read_status', 'd_rpt_st', 'callback_set', 'seen', 're_recipient_address', 'device_name', 'cmc_prop', 'resp_st', 'text_only', 'sim_slot', 'st', 'retr_txt_cs', 'creator', 'm_size', 'sim_imsi', 'correlation_tag', 're_body', 'safe_message', 'tr_id', 'm_cls', 'v', 'secret_mode', 're_file_name', 're_count_info', 'readable_date', 'contact_name'])
for child in tqdm(root):
    if child.tag == 'mms':
        df = pd.concat([df, pd.DataFrame([child.attrib])], ignore_index=True)

df['author'] = df['msg_box'].apply(lambda x: 'Nathan' if x == '2' else 'Bernice')
df[['date', 'author', 'readable_date']].to_csv('parsed_data/mms_conversation.csv', index=False)

100%|██████████| 21819/21819 [00:00<00:00, 30056.04it/s]

In [61]:
for column in df.columns:
    amount = df[column].nunique()
    if amount < 10:
        print(f'{column}: {df[column].unique()}')
    else:
        print(f'{column}: {df[column].nunique()} unique values')

date: 890 unique values
spam_report: ['0']
ct_t: ['application/vnd.wap.multipart.related'
 'application/vnd.wap.multipart.mixed']
msg_box: ['1' '2']
address: ['+14159198023']
sub_cs: ['null' '3' '106']
re_type: ['0']
retr_st: ['128' 'null']
re_original_body: ['null']
d_tm: ['null' '0']
exp: ['null' '604800']
locked: ['0']
msg_id: ['0']
app_id: ['0']
from_address: ['null']
m_id: 892 unique values
retr_txt: ['null']
date_sent: 584 unique values
read: ['1']
rpt_a: ['null']
ct_cls: ['null']
bin_info: ['0']
pri: ['null' '129']
sub_id: ['1' '-1']
re_content_type: ['null']
object_id: ['null']
resp_txt: ['null']
re_content_uri: ['null']
ct_l: 587 unique values
re_original_key: ['null']
d_rpt: ['null' '129' '128']
reserved: ['0']
using_mode: ['0']
_id: 892 unique values
rr_st: ['0']
m_type: ['132' '128']
favorite: ['0']
rr: ['null' '129']
sub: ['null' 'NoSubject' 'Fwd:']
hidden: ['0']
deletable: ['0']
read_status: ['null']
d_rpt_st: ['0']
callback_set: ['0']
seen: ['1']
re_recipient_address: ['null']
device_name: ['null']
cmc_prop: ['null']
resp_st: ['null' '128']
text_only: ['0']
sim_slot: ['0' '-1']
st: ['null']
retr_txt_cs: ['null']
creator: ['com.samsung.android.messaging' 'com.google.android.apps.messaging']
m_size: 759 unique values
sim_imsi: ['310260095997450' 'null']
correlation_tag: 340 unique values
re_body: ['null']
safe_message: ['0']
tr_id: 308 unique values
m_cls: ['null' 'personal']
v: ['18']
secret_mode: ['0']
re_file_name: ['null']
re_count_info: ['null']
readable_date: 890 unique values
contact_name: ['Bernice Lau']
author: ['Bernice' 'Nathan']

In [26]:
# get sms messages from xml
tree = ET.parse(CALL_DATA)
root = tree.getroot()
root[0].attrib.keys()

df = pd.DataFrame(columns=['number', 'duration', 'date', 'type', 'presentation', 'subscription_id', 'post_dial_digits', 'subscription_component_name', 'readable_date', 'contact_name'])
for child in tqdm(root):
    df = pd.concat([df, pd.DataFrame([child.attrib])], ignore_index=True)

types = {   # just for reference
    '1': 'Incoming',
    '2': 'Outgoing',
    '3': 'Missed',
    '5': 'Voicemail'
}

df = df[df['contact_name'] == 'Bernice Lau']
df['caller'] = df['type'].apply(lambda x: 'Nathan' if x in ('2', '5') else 'Bernice')
df['missed'] = df['type'].apply(lambda x: True if x in ('3', '5') else False)

df[['date', 'caller', 'duration', 'missed', 'readable_date']].to_csv('parsed_data/call_log.csv', index=False)
df[['date', 'caller', 'duration', 'missed', 'readable_date']].head(50)

100%|██████████| 791/791 [00:00<00:00, 4503.22it/s]

              date   caller duration  missed             readable_date
464  1661713803824   Nathan      159   False  Aug 28, 2022 12:10:03 PM
466  1662691102852  Bernice       11   False    Sep 8, 2022 7:38:22 PM
468  1662954191491   Nathan       61   False   Sep 11, 2022 8:43:11 PM
475  1664249799488   Nathan       52   False   Sep 26, 2022 8:36:39 PM
488  1666239565201   Nathan       27   False   Oct 19, 2022 9:19:25 PM
489  1666239627231   Nathan        6   False   Oct 19, 2022 9:20:27 PM
504  1669175557695   Nathan     3233   False   Nov 22, 2022 7:52:37 PM
507  1669704002042   Nathan       13   False  Nov 28, 2022 10:40:02 PM
508  1669704104213   Nathan        8   False  Nov 28, 2022 10:41:44 PM
516  1670047572111   Nathan       93   False   Dec 2, 2022 10:06:12 PM
527  1671857035791  Bernice     5058   False   Dec 23, 2022 8:43:55 PM
528  1672035050004   Nathan     6066   False  Dec 25, 2022 10:10:50 PM
548  1674582161351   Nathan       60   False   Jan 24, 2023 9:42:41 AM
550  1674886159056   Nathan        7   False  Jan 27, 2023 10:09:19 PM
551  1674886202695   Nathan        9   False  Jan 27, 2023 10:10:02 PM
554  1675979680429   Nathan        0   False    Feb 9, 2023 1:54:40 PM
555  1676681969390   Nathan       24   False   Feb 17, 2023 4:59:29 PM
557  1677194557981   Nathan       12   False   Feb 23, 2023 3:22:37 PM
558  1677218890641   Nathan        7   False  Feb 23, 2023 10:08:10 PM
559  1677218948764  Bernice       31   False  Feb 23, 2023 10:09:08 PM
561  1677734556658   Nathan      308   False    Mar 1, 2023 9:22:36 PM
562  1677787117956  Bernice       27   False   Mar 2, 2023 11:58:37 AM
564  1678065198796   Nathan       50   False    Mar 5, 2023 5:13:18 PM
565  1678127595782   Nathan      204   False   Mar 6, 2023 10:33:15 AM
566  1678237378053   Nathan      337   False    Mar 7, 2023 5:02:58 PM
567  1678427698107   Nathan        5   False    Mar 9, 2023 9:54:58 PM
568  1678428011278  Bernice      107   False   Mar 9, 2023 10:00:11 PM
572  1678765094227   Nathan        6   False   Mar 13, 2023 8:38:14 PM
573  1679188011159   Nathan        3   False   Mar 18, 2023 6:06:51 PM
574  1679188481542   Nathan        6   False   Mar 18, 2023 6:14:41 PM
576  1679355330179  Bernice        0    True   Mar 20, 2023 4:35:30 PM
577  1679371160454   Nathan       36   False   Mar 20, 2023 8:59:20 PM
578  1679432865190   Nathan      118   False   Mar 21, 2023 2:07:45 PM
580  1679758291023   Nathan        7   False   Mar 25, 2023 8:31:31 AM
581  1679978747212  Bernice     2735   False   Mar 27, 2023 9:45:47 PM
582  1680483185494  Bernice       55   False    Apr 2, 2023 5:53:05 PM
583  1680653537357   Nathan        6   False    Apr 4, 2023 5:12:17 PM
584  1680821175320   Nathan       84   False    Apr 6, 2023 3:46:15 PM
585  1681069111352  Bernice       47   False   Apr 9, 2023 12:38:31 PM
586  1681157038725   Nathan       79   False   Apr 10, 2023 1:03:58 PM
587  1681263413191   Nathan        7   False   Apr 11, 2023 6:36:53 PM
588  1681354091632   Nathan       67   False   Apr 12, 2023 7:48:11 PM
591  1681580267811  Bernice      102   False  Apr 15, 2023 10:37:47 AM
592  1681580434076  Bernice      330   False  Apr 15, 2023 10:40:34 AM
593  1681586392436  Bernice       41   False  Apr 15, 2023 12:19:52 PM
595  1681698998171   Nathan        0    True   Apr 16, 2023 7:36:38 PM
596  1681841224101   Nathan       18   False  Apr 18, 2023 11:07:04 AM
597  1681930918755  Bernice      154   False  Apr 19, 2023 12:01:58 PM
598  1681945362817   Nathan        7   False   Apr 19, 2023 4:02:42 PM
599  1681945507497  Bernice       88   False   Apr 19, 2023 4:05:07 PM